<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'committees'}}Commitees{{/link-to}}</li>
    <!-- <li>{{#link-to 'bills'}}Bills{{/link-to}}</li> -->
  </ul>
</nav>

<div class="container">
  <header class="jumbotron">
    <h1>sunlightfoundation</h1>
  </header>
  {{outlet}}
</div>
